<div class="container">
  <div class="alert alert-primary" role="alert">
  ¿Quieres reservar?
  <%= link_to 'reservar', new_api_v1_reservation_path %>
  </div>
  <div class="alert alert-secondary" role="alert">
    ¿Quieres ver las películas?
    <%= link_to 'Ver películas', api_v1_movies_path %>
  </div>
</div>
